img, video, .wp-caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto !important;
}
audio {
	max-width: 100%;
}
.builder-container-outer-wrapper {
	width: 100%;
}
#ie6 .builder-module-outer-wrapper,
#ie7 .builder-module-outer-wrapper,
#ie8 .builder-module-outer-wrapper {
	width: 1000px;
}
@media screen and (max-width: 1000px) {
	.builder-module-background-wrapper {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}
@media screen and (max-width: 500px) {
	.builder-module-background-wrapper {
		padding-left: .75em;
		padding-right: .75em;
	}
}
#builder-module-51bbb8618891f-outer-wrapper {
	max-width: 1000px;
	width: 100%;
}
#builder-module-51bbb8618891f .builder-module-sidebar-outer-wrapper {
	float: left !important;
	width: 18%;
	margin-left: 0%;
	margin-right: -100%;
}
#builder-module-51bbb8618891f .builder-module-element-outer-wrapper {
	float: left !important;
	width: 82%;
	margin-left: 18%;
	margin-right: -100%;
}
@media screen and (max-width: 1000px) {
	#builder-module-51bbb8618891f .builder-module-sidebar-outer-wrapper,
	#builder-module-51bbb8618891f .builder-module-element-outer-wrapper {
		float: none !important;
		width: auto;
		margin: 0;
	}
	#builder-module-51bbb8618891f .builder-module-sidebar-outer-wrapper .builder-module-block,
	#builder-module-51bbb8618891f .builder-module-element-outer-wrapper .builder-module-block,
	#builder-module-51bbb8618891f .builder-module-sidebar-outer-wrapper .widget,
	#builder-module-51bbb8618891f .builder-module-element-outer-wrapper .widget {
		margin: 0;
	}
}
#builder-module-51bbb861889c8-outer-wrapper {
	max-width: 1000px;
	width: 100%;
}
#builder-module-51bbb861889c8 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
