img, video, .wp-caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto !important;
}
audio {
	max-width: 100%;
}
.builder-container-outer-wrapper {
	width: 100%;
}
#ie6 .builder-module-outer-wrapper,
#ie7 .builder-module-outer-wrapper,
#ie8 .builder-module-outer-wrapper {
	width: 960px;
}
@media screen and (max-width: 960px) {
	.builder-module-background-wrapper {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}
@media screen and (max-width: 500px) {
	.builder-module-background-wrapper {
		padding-left: .75em;
		padding-right: .75em;
	}
}
#builder-module-51bbb766583d1-outer-wrapper {
	max-width: 960px;
	width: 100%;
}
#builder-module-51bbb766583d1 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-51bbb76658410-outer-wrapper {
	max-width: 960px;
	width: 100%;
}
#builder-module-51bbb76658410 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-51bbb7665844d-outer-wrapper {
	max-width: 960px;
	width: 100%;
}
#builder-module-51bbb7665844d .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-51bbb7665848a-outer-wrapper {
	max-width: 960px;
	width: 100%;
}
#builder-module-51bbb7665848a .builder-module-column-1-outer-wrapper {
	float: left !important;
	width: 33.333%;
	margin-left: 0%;
	margin-right: -100%;
}
#builder-module-51bbb7665848a .builder-module-column-2-outer-wrapper {
	float: left !important;
	width: 33.333%;
	margin-left: 33.333%;
	margin-right: -100%;
}
#builder-module-51bbb7665848a .builder-module-column-3-outer-wrapper {
	float: left !important;
	width: 33.334%;
	margin-left: 66.666%;
	margin-right: -100%;
}
@media screen and (max-width: 600px) {
	#builder-module-51bbb7665848a .builder-module-column-1-outer-wrapper,
	#builder-module-51bbb7665848a .builder-module-column-2-outer-wrapper,
	#builder-module-51bbb7665848a .builder-module-column-3-outer-wrapper {
		float: none !important;
		width: auto;
		margin: 0;
	}
	#builder-module-51bbb7665848a .builder-module-column-1-outer-wrapper .builder-module-block,
	#builder-module-51bbb7665848a .builder-module-column-2-outer-wrapper .builder-module-block,
	#builder-module-51bbb7665848a .builder-module-column-3-outer-wrapper .builder-module-block,
	#builder-module-51bbb7665848a .builder-module-column-1-outer-wrapper .widget,
	#builder-module-51bbb7665848a .builder-module-column-2-outer-wrapper .widget,
	#builder-module-51bbb7665848a .builder-module-column-3-outer-wrapper .widget {
		margin: 0;
	}
}
#builder-module-51bbb766584c7-outer-wrapper {
	max-width: 960px;
	width: 100%;
}
#builder-module-51bbb766584c7 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
